@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Global */

*{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
}


/* Cuerpo Pagina  */

body{
        font-size: 16px;

}

/* Cabecera alto, ancho, fondo, etc.  */

header{
        height: 80%;
        background: #d6d6d6;
        display: flex;
        align-items:center;
        justify-content:space-between;
        padding: 0 100px;
        width: 90%;
        margin: auto;
        /* margin-bottom: 20px; */
        margin: 10xp 0;
       
}

/* Contenedor */

.container {
        width: 90%;
        margin: auto;
}


/* Showcase Estructura */

.showcase{
       color: #11101b;
       width: 100%;
       height: 550px;
       background: url('../img/showcase4.jpg') no-repeat center center/cover;
       font-weight: bold;
       padding: 30px;
       padding-bottom: 50px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-end;
       margin: 10px 0;
}



/* Noticias Grilla */

.noticias{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        background-image: url('../img/banner1.jpg');
        margin: 10px 0;
}

.noticias img{
        width: 100%;
        height: 180px;
}

.noticias h3{
        font-size: 20px;
        margin: 10px 0;

}

/* Banner */

.banner{
        width: 100%;
        height: 350px;
        background: url(../img/banner2.jpg);
        margin-bottom: 40px;

}

.banner .content{
        width: 40%;
        padding: 90px 0 0 30px;
        color:#fefefe;
}

.banner p, .banner h2{
        margin: 10px 0 20px; 
}

/* Social */

.social{
        margin:50px;

}

.social p{
        text-align:center;
        font-size: 30px;
        margin-bottom: 20px;
}

.links{
        display: flex;
        align-items: center;
        justify-content: center;
}

.links a{
        margin: 0 30px;
}

.links a i{
        font-size: 2rem;
}

/* Footer */

.footer{
        background: #d6d6d6;
        font-size: 12px;
        padding: 35px 0;
        
}


.footer-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
      
}

.footer-container ul{
        margin: 0 auto;
}

.footer-container ul li{
        line-height: 2.8;
}

/* Footer Copyright */

.footer-copyright{
        background: #2f3640; 
        color: #fefefe;;
        font-size: 12px;
        padding: 20px 0;
        text-align: center;
        padding-bottom: 20px;
        margin: 10px 0;
}

        
/* Logo */

.logo{
        font-size: 48px;
        font-weight: bold;
        color: #11101b;
}

/* Lista Responsive */

.hamburger{
        display: none;

}


.nav-bar ul{
        display: flex;


}

/* Atributos barra de navegacion color, font size, margin, etc  */

.nav-bar ul li a{
        display: block;
        color: #11101b;
        font-size: 20px;
        padding: 10px 35px;
        border-radius: 50px;
        transition: 0.2s;
        margin: 0 5px;
        font-weight: bold;


    
}

.nav-bar ul li a:hover{
        color: #11101b;
        background: aquamarine;
}

/* Estilo - Boton Home activado  */

.nav-bar ul li a.active{
        color: #11101b;
        background: #fefefe;
        
}

@media only screen and (max-width: 1320px){
header{
        padding: 0 50px;

}

}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    
    }
    
    }

@media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
        
 }

    /* Lineas Menú --- */

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    /* Navegable Modo Responsive */

    .nav-bar{
        height: 0;
        position: absolute;
        font-weight: bold;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #d6d6d6;
        transition: 0.5s;
        overflow: hidden;

        width: 90%;
        margin: auto;

     

    }

    .nav-bar.active {
        height: 650px;

    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;   
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }


    .nav-bar.active ul{
        opacity: 1;

    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        

    }



        
 }